*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 28px;
}

#root {
  --main-color: rgb(92, 3, 92);
  --accent-color: rgb(205, 142, 205);

  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  text-align:center;
  font-size: 4rem;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
  margin: 8px 0;
}

h2 {
  width: 80%;
  text-align: center;
  margin: 0 8;
  border-bottom: 2px solid black;
  font-size: 2rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 0.8rem;
  }
}
h3{
  margin:0;
  width: 100%;
}

p {
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}

form>div {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 50%;
}

label {
  text-align: right;
  width: 300px;
}

input, textarea {
  width: 400px;
  font-size: 1.5rem;
  border: 1px solid var(--accent-color);
}

input:focus, textarea:focus {
  outline: 2px solid var(--accent-color);
}

textarea{
  resize: none;
  scroll-behavior: auto;
  font-family: inherit;
  field-sizing: content;
  }

button {
  width: 20%;
  padding:8px 16px;
  font-size: 1.2rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  align-self: center;
  margin: 16px auto;
}

.add{
  align-self: center;
  margin: 0 16px;
  background-color: rgb(211, 163, 211);
  color: black;
}

hr{
  width: 90%;
}

.done{
  padding: 16px;
  align-self: center;
  font-size: 1.5rem;
  width: 50%;
}

.contact{
  padding: 0 16px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  width: 100%;
}

.edit{
  align-self: flex-end
}

button:hover {
  transform: scale(1.01);
}

.contact>*{
  font-size: 1.5rem;
  text-align: center;
}

li{
  list-style: none;
  text-align:left;
  width: 100%;
}

.about{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

