body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}


h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.edit {
  align-self: flex-end;
  padding: 2px;
  font-size: 0.8rem;
  background-color: rgb(247, 224, 224);
  border: none;
}

.edit:hover {
  transform: scale(1.1);
}